<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.khong.term4_java1d">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseBlock"
            android:label="@string/title_activity_chooseblock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailedActivityView"
            android:label="@string/title_activity_detailed_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogoutActivity"
            android:label="@string/title_activity_logout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <service android:name=".NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".WasherView"
            android:label="@string/title_activity_washer_view"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khong.term4_java1d.MainActivity" />
        </activity>
        <activity
            android:name=".DryerView"
            android:label="@string/title_activity_dryer_view"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khong.term4_java1d.MainActivity" />
        </activity>
    </application>

</manifest>